<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <providers embedded="F5074.MyBatisDataMapper.Config.providers.config, F5074.MyBatisDataMapper"/>
  <database>
    <!--<provider name="ODP.NET Managed" />
    <dataSource name="MyOracle" connectionString="User Id=hr;Password=hr;Data Source=(DESCRIPTION=(ADDRESS_LIST= (ADDRESS=(PROTOCOL=TCP) (HOST=127.0.0.1) (PORT=1521))) (CONNECT_DATA = (SERVICE_NAME = XE)));Persist Security Info=True;"/>-->

    <!--<provider name="oracleClient4.0" />
    <dataSource name="MyOracle" connectionString="User Id=hr;Password=hr;Data Source=(DESCRIPTION=(ADDRESS_LIST= (ADDRESS=(PROTOCOL=TCP) (HOST=127.0.0.1) (PORT=1521))) (CONNECT_DATA = (SERVICE_NAME = XE)))"/>-->

    <provider name="sqlServer4.0" />
    <dataSource name="MyMSSQL" connectionString="Data Source=127.0.0.1;Initial Catalog=myDatabase;Persist Security Info=True;User ID=sa; Password=1234; Timeout=800"/>
  </database>

  <sqlMaps>
    <!--<sqlMap embedded="F5074.MyBatisDataMapper.Service.Dashboard.dashboard_sqlFile.xml, F5074.MyBatisDataMapper" />-->
    <!--<sqlMap resource="./Service/Dashboard/dashboard_sqlFile.xml" />-->
    <!--<sqlMap resource="../../../../../../../../DEV/dashboard_sqlFile.xml" />-->
    <!--<sqlMap resource="/DEV/dashboard_sqlFile.xml" />-->
    <sqlMap embedded="F5074.MyBatisDataMapper.Service.Automation.automation_sqlFile.xml, F5074.MyBatisDataMapper" />
  </sqlMaps>
</sqlMapConfig>